streamlit
openai
langchain-openai
unstructured[all-docs]
langchain-community
pillow
nltk
pdf2image
matplotlib
tiktoken
pyngrok
langchain
chromadb
langchain-chroma
pymongo
langchain-pinecone
pinecone-client
python-dotenv
